.booking-modal-container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #070707c5;
}

.content-container {
  background-color: #ffffff;
  // width: 40%;
  // height: 65vh;
  padding: 25px 75px 25px 85px;
  border-radius: 50px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

