.card-container-container {
  background-color: #ffffff25;
  width: 95%;
  height: 600px;
  border-radius: 50px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .card-container-container {
    width: 100%;
  }
}

