.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  height: 100vh;
  scroll-snap-align: center;
}

@media only screen and (max-width: 760px) {
  .home-page-container {
    margin-left: 40px;
  }
}

